*{
    margin:0;
  }
  .container {
    display:grid;
    grid-template-columns: 1fr 5fr;
    height:100vh;
  }
  .content {
    display:grid;
    grid-template-columns: 3fr 1fr;
    margin-bottom: 30px;
  }
  .proj-box{
    display: grid;
    grid-template-columns: auto auto;
    gap:20px;
    padding-left:20px;
    padding-right: 20px;
    height:100vh;
  }
 .sidebar{
   background-color: #1992d4;
   border:1px solid black;
   display:grid;
   grid-template-columns: 1fr;
   
 }
 .main{
    background-color: hsl(214deg 32% 91%);
 }

 .dash-logo{
display:flex;
justify-content:flex-start;
column-gap: 15px;
align-items: center;
color:white;
padding-left:15px;
margin: 15px 0px;

 }
button{
background-color:#1992d4;
color:white;
border-radius:10px;
padding:2px 18px;

}
.header{
display:grid;
background-color:white;
grid-template: 2fr 2fr/2fr 2fr;
border:1px solid black;
}
.search{
display:flex;
justify-content:flex-start;
align-items: center;
grid-column:1/2;
grid-row: 1/2;
gap:1rem;
padding-left:1rem;

}
.search-right{
display:flex;
align-items:center;
grid-column:2/3;
grid-row: 1/2;
justify-content: center;
gap:1rem;
}
.bottom {
display:flex;
justify-content: flex-start;
align-items: center;
grid-row: 2/3;
grid-column:1/2;
padding-left:2rem;
}
.btn{
display:flex;
justify-content: center;
align-items: center;
grid-row: 2/3;
grid-column:2/3;
gap:2rem;
}
input {
border-radius: 7px;
background-color: hsl(214deg 32% 91%);
}
.box{
border-radius: 15px;
border: 1px solid white;
border-left:10px solid hsl(42deg 87% 55%);
background-color: white;
padding: 2rem;

}
.img{
text-align: end;

padding-right:5px;
}
h3{
margin:10px;
}
.aborder{
width:100%;
height:1px;
background-color: lightgray;
}

.trend{
display:flex;
align-items: center;
column-gap: 20px;

padding: 1rem;

}
.ann-box,.trend-box{
background-color: white;
border-radius: 15px;
border: 1px solid white;
margin-right:20px;
}

.announcement,.ann-box{
padding: 1rem;
}

.sidebar h3,button,img{
    cursor: pointer;
}